#puzzle-container {
    width: 800px;
    height: 700px;
    border: 3px solid red;
    position: relative;
}
.puzzle-item {
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #ddd;
}