#puzzle-container {
    width: 600px;
    height: 600px;
    border: 1px solid red;
    position: relative;
    margin: auto;
}
#timer {
    height: 5px;
}

.puzzle-item {
    width: 200px;
    height: 200px;
    border: 1px solid purple;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #ddd;
}
h1 {
    color: blueviolet;
    size: 30px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}